@model TrendingViewModel
<div class="trending-top mb-30">
    <div class="trend-top-img">
        <img src="~/@Model.CoverPhoto" width="750" height="400" alt="">
        <div class="trend-top-cap">
            <span>@Model.CategoryName</span>
            <h2><a href="details.html">@Model.Title</a></h2>
        </div>
    </div>
</div>