@model TrendingViewModel
<div class="trending-top mb-30">
    <div class="trend-top-img">
        <img src="~/@Model.CoverPhoto" width="750" height="400" alt="">
        <div class="trend-top-cap">
            <span>@Model.CategoryName</span>
            <h4><a asp-controller="News" asp-action="Details" asp-route-id="@Model.Id" >@Model.Title</a></h4>
        </div>
    </div>
</div>