@model IEnumerable<TrendingViewModel>
    <div class="col-lg-4">
        @foreach (var item in Model)
        {
            <div class="trand-right-single d-flex">
                <div class="trand-right-img">
                    <img src="~/@item.CoverPhoto" width="120" height="100" alt="">
                </div>
                <div class="trand-right-cap">
                    <span class="color1">@item.CategoryName</span>
                    <h4><a href="details.html">@item.Title</a></h4>
                </div>
            </div>
        }
    </div>