@model IEnumerable<Base>
<div class="row">
    <div class="col-lg-12">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3 col-md-3">
                <div class="section-tittle mb-30">
                    <h3>Son Xəbərlər</h3>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="whats-news-caption">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single-what-news mb-100">
                                            <div class="what-img">
                                                <img src="~/@item.CoverPhoto" width="360" height="335" alt="">
                                            </div>
                                            <div class="what-cap">
                                                <span class="color1">@item.CategoryName</span>
                                                <h4><a asp-controller="news" asp-action="details" asp-route-id="@item.Id">@item.Title</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
        </div>
    </div>
    @*<div class="col-lg-3">
        
        <div class="section-tittle mb-40">
            <h3>Bizi sosial şəbəkələrdə izlə</h3>
        </div>
         
        <div class="single-follow mb-45">
            <div class="single-box">
                <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                        <a href="#"><img src="~/img/news/icon-fb.png" alt=""></a>
                    </div>
                    <div class="follow-count">
                        <span>8,045</span>
                        <p>izləyici</p>
                    </div>
                </div>
                <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                        <a href="#"><img src="~/img/news/icon-tw.png" alt=""></a>
                    </div>
                    <div class="follow-count">
                        <span>8,045</span>
                        <p>izləyici</p>
                    </div>
                </div>
                <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                        <a href="#"><img src="~/img/news/icon-ins.png" alt=""></a>
                    </div>
                    <div class="follow-count">
                        <span>8,045</span>
                        <p>izləyici</p>
                    </div>
                </div>
                <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                        <a href="#"><img src="~/img/news/icon-yo.png" alt=""></a>
                    </div>
                    <div class="follow-count">
                        <span>8,045</span>
                        <p>izləyici</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="news-poster d-none d-lg-block">
            <img src="~/img/news/news_card.jpg" alt="">
        </div>
    </div>*@
</div>
