@{
    ViewData["Title"] = "Əsas Səhifə";
}

<div class="trending-area fix">
    <div class="container">
        <div class="trending-main">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Trending Top -->
                    @await Component.InvokeAsync("TopTrending")
                    <!-- Trending Bottom -->
                    @await Component.InvokeAsync("ButtomTrending")
                </div>
                <!-- Riht content -->
                @await Component.InvokeAsync("RightContent")
            </div>
        </div>
    </div>
</div>
<!--   Weekly-News start -->
<div class="weekly-news-area pt-50">
    <div class="container">
        @await Component.InvokeAsync("WeeklyTopNews")
    </div>
</div>
<!-- End Weekly-News -->
<section class="whats-news-area pt-50 pb-20">
    <div class="container">
        @await Component.InvokeAsync("WhatsNew")
    </div>
</section>

<!-- Start Youtube -->
@*<div class="youtube-area video-padding">
    @await Component.InvokeAsync("VideoRoll")
</div>*@
<!-- End Start youtube -->
